.App {
  background-color: #fefae0;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

/* Make links in AppBar look nice */
.headerlinks {
  background-color: #bc6c25;
  padding: 2vh;
  border-radius: 15vw;
  color: #fefae0;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1em;
}

.headerlinks:hover {
  background-color: #ac4c05;
}

/* Fix icon size */
img {
  width: 10vw;
}

/* Campuses list */
.campuses {
  text-align: center;
  justify-content: center;
}

.namedesc {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

.campuses a {
  float: left;
  padding: 1vw;
  text-decoration: none;
  background-color: #606c38;
  color: #dda15e;
  font-size: 2em;
  border-radius: 10vh;
  transition: 0.5s;
}

.campuses a:hover {
  background-color: #404c18;
}

.campuses p {
  text-align: center;
  margin-top: 0px;
}

.campuses button {
  float: left;
  margin-top: 2vh;
}

button {
  border: none;
  padding: 1vh;
  border-radius: 15vw;
  margin-bottom: 2vh;
  transition: 0.5s;
  width: 3em;
  background-color: #dda15e;
}

.newbutton {
  font-size: 1em;
  margin-top: 2vh;
  justify-content: center;
  width: 25%;
  margin-left: 36%
}

.campuslink {
  width: 25vw;
  vertical-align: center;
}

/* Single campus/student view */
.profile {
  margin-left: 5%;
}

.profile a {
  color: #283618;
  transition: 0.5s;
  text-decoration: underline dotted;
}

.profile a:hover {
  color: #606c38
}

/* New/Edit forms */

.formcontainer {
  width: 500px;
  margin: auto;
  margin-top: 2vh;
  border-radius: 5px;
  background-color: #f0f0f5;
}

.formcontainer input {
  width: 100%;
  outline: none;
  transition: 0.5s;
  box-sizing: border-box;
  border: solid #555;
}